
<div>
	<div class="col-md-1">
		<span class="my-pull-right" data-cal-date="<%= data_day %>"
			data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>">
			<%= day %>
		</span>
		<!--class="pull-left"-->
	</div>
	<div class="col-md-8">
		<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>"
			data-cal-end="<%= end %>">
			<% _.each(events, function(event) {  %>
			<h4><span class="label label-<%= event['classevent'] %>"> <%= event.title %> </span></h4>
			<% }); %>
		</div>
		<% } %>
	</div>
	<div class="col-md-1">
		<div>
			<button type="button" class="btn btn-default btn-xs"
				data-addevent='<%= data_day  %>' data-toggle="modal"
				data-target="#myModal">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
		</div>
		<hr />
		<div>
			<button type="button" class="btn btn-warning btn-xs"
				data-addevent='<%= data_day  %>' data-toggle="modal" 
				data-target="#displayModel">
				<span class="glyphicon glyphicon-open" aria-hidden="true"></span>
			</button>
		</div>
	</div>
</div>




