classes/
eclipsebin/
gensrc/
target/
**/resources/**/*-testclasses.xml
build.xml
extensioninfo.xsd
platformhome.properties
ruleset.xml
Generated*.java
items.xsd
beans.xsd
ruleset.xml
*/org.eclipse.*

testsrc/
